.MainHeader{
    height: 70px;
    font-size: 20px;
    font-family: Parastoo-Bold; 
}
.main-menu{
    font-family: Vazir;
}
.nav-link {    
    color: black !important;
}
.nav-link:hover {    
    color: #ffb81c !important;
}
.dropdown-item{
    color: black !important;
}
.dropdown-item:hover{
    color: #ffb81c !important;
}


