@font-face {
  font-family: Vazir;
  src: local('Vazir') ,url(./assets/font/Vazir.woff) format('woff');
  src: url(./assets/font/Vazir.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: Vazir;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;  
  margin: 0;
}

code {
  font-family: Vazir;
}
