@font-face {
  font-family: Vazir;
  src: local('Vazir') ,url(./assets/font/Vazir.woff) format('woff');
  src: url(./assets/font/Vazir.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Parastoo-Bold;
  src: local('Parastoo-Bold') ,url(./assets/font/Parastoo-Bold.woff) format('woff');
  src: url(./assets/font/Parastoo-Bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Sahel;
  src: local('Sahel') ,url(./assets/font/Sahel.woff) format('woff');
  src: url(./assets/font/Sahel.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

