.CopyFooter{
    height: 30px;
    width: 100%;
    background-color: #272323;
    clear: both;
}

.CopyFooter p{  
    color:#fff;
    font-family: Sahel;
    text-align: center;
    font-size: 13px;
    line-height: 30px;
}